<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Roles"
            android:label="@string/title_activity_roles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ceremonies"
            android:label="@string/title_activity_ceremonies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Artifacts"
            android:label="@string/title_activity_artifacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Quiz" />
        <activity android:name=".QuizResults" />
        <activity android:name=".VideoLectures" />
        <activity android:name=".VideoList" />
        <activity android:name=".RolesVideo" />
        <activity android:name=".ArtifactsVideo" />
        <activity android:name=".AlternativesVideo" />
        <activity android:name=".CeremoniesVideo" />

        <activity
            android:name=".Alternatives"
            android:label="@string/title_activity_alternatives"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>